<tr>
  <td class="px-6">
    <a href="https://zumbach.dev" class="font-sans font-semibold text-lg lowercase small-caps text-gray-300 transition duration-300 hover:text-gray-200 no-underline">
      zumbach.dev
    </a>
  </td>
</tr>
<tr>
  <td class="px-6">
    <a href="https://zumbach.dev/posts/{{ page.id }}" class="font-sans font-bold text-3xl lowercase small-caps text-gray-300 transition duration-300 hover:text-gray-200 no-underline">
      {{ title }}
    </a>
  </td>
</tr>
<component
  src="/src/components/spacers/md.html"
></component>

