<component
  src="/src/components/spacers/xl.html"
></component>
<tr>
  <td align="center" class="px-6 text-gray-600">
    <a href="*|UNSUBSCRIBED|*" class="no-underline font-sans text-xs text-gray-400 transition duration-300 hover:text-gray-300">
      Unsubscribe
    </a>
  </td>
</tr>

