<table border="2" cellspacing="0" cellpadding="0" class="rounded border-std">
  <tr border="0">
    <td align="center" class="border-0">
      <a
        rel="noopener"
        target="_blank"
        href="{{ href }}"
        class="inline-block px-3 py-1 bg-gray-950 font-sans font-semibold text-sm lowercase small-caps text-gray-200 no-underline hover:bg-gray-920 hover:text-gray-100 active:text-gray-300"
      >
        {{ text }}&nbsp&nbsp&nbsp→
      </a>
    </td>
  </tr>
</table>

