<!-- Using this tag in the email body will set the email preview text. -->
<div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  <content></content>
</div>
