<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <if condition="page.title">
      <title>{{{ page.title }}}</title>
    </if>

    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <meta name="color-scheme" content="dark">
    <meta name="supported-color-schemes" content="dark">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet" media="screen">

    <!--[if mso]>
    <noscript>
      <xml>
        <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    </noscript>
    <style>
      td,th,div,p,a {font-family:  "Source Serif 4 Variable", "Source Serif 4", "Georgia", serif; mso-line-height-rule: exactly;}
      h1,h2,h3,h4,h5,h6 {font-family: "Source Sans 3 Variable", "Source Sans 3", "Verdana", sans-serif; mso-line-height-rule: exactly;}
    </style>
    <![endif]-->
    <style>
      {{{ page.css }}}
    </style>
    <style>
      @font-face {
        font-family: 'Source Sans 3 Variable';
        font-style: normal;
        src: url('https://zumbach.dev/newsletters/source_sans_3_variable_roman.otf.woff2') format('woff2-variations');
      }
      @font-face {
        font-family: 'Source Serif 4 Variable';
        font-style: normal;
        src: url('https://zumbach.dev/newsletters/source_serif_4_variable_roman.otf.woff2') format('woff2-variations');
      }

      /* latin */
      @font-face {
        font-family: 'Source Sans 3';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sourcesans3/v8/nwpStKy2OAdR1K-IwhWudF-R3w8aZQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* latin */
      @font-face {
        font-family: 'Source Sans 3';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sourcesans3/v8/nwpStKy2OAdR1K-IwhWudF-R3w8aZQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* latin */
      @font-face {
        font-family: 'Source Sans 3';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sourcesans3/v8/nwpStKy2OAdR1K-IwhWudF-R3w8aZQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* latin */
      @font-face {
        font-family: 'Source Serif 4';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sourceserif4/v7/vEFy2_tTDB4M7-auWDN0ahZJW3IX2ih5nk3AucvUHf6OAVIJmeUDygwjihdqnhtdDg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>

  <!-- Background color: gray-930 == #12121A -->
  <!-- Background image code inspired from https://blog.edmdesigner.com/background-images-in-modern-html-emails/#theultimatesolutionforbackgroundimagesintheemailbody -->
  <body
    background="https://zumbach.dev/newsletters/topography.png"
    bgcolor="#12121A"
    style="background-color: #12121A; background-image: url(https://zumbach.dev/newsletters/topography.png); background-position: center top;"
    class="m-0 p-0 w-full [word-break:break-word] [-webkit-font-smoothing:antialiased]"
  >
    <div style="font-size:0px;line-height:1px;mso-line-height-rule:exactly;display:none;max-width:0px;max-height:0px;opacity:0;overflow:hidden;mso-hide:all;">
      {{ page.preheader }}
      <each loop="item in Array.from(Array(150))">&#847; </each>
    </div>
    <table
      role="presentation"
      aria-roledescription="email"
      aria-label="{{ page.title }}"
      lang="en"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      background="https://zumbach.dev/newsletters/topography.png" 
      style="min-width:100%; background-position: center top; background-repeat: repeat;"
    >
      <tr>
        <td
          align="center"
          valign="top"
          class="text-gray-200 font-serif text-base leading-relaxed"
        >
          <table class="max-w-[600px] text-base">
            <component
              src="/src/components/spacers/xl.html"
            ></component>
            <component
              src="/src/components/blocks/title.html"
              title="{{ page.title }}"
            ></component>

            <content></content>

            <component
              src="/src/components/spacers/xl.html"
            ></component>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
