/* Tailwind CSS components */
@import "tailwindcss/components";

/* Tailwind CSS utility classes */
@import "tailwindcss/utilities";

:root {
  color-scheme: dark;
}

.small-caps {
  font-variant: small-caps;
}

.border-std {
  @apply border-2 border-gray-600;
}

