---
title: Blue Zones
preheader: Actionable items to live longer and better.
id: blue_zones
date: "2023-03-10"
---

<extends src="src/layouts/2023-03-10_new_post.html">
  <block name="text">
    <p>
      There are communities on Earth where people live both longer and better than in the rest of the world: the blue zones.
    </p>

    <p>
      A studies listed 9 characteristics that all blue zones have in common.
      Some of them are really surprising, for example in almost all blue zones, people drink alcohol regularly.
      I wrote a little summary of the studies containing the key elements that I want to remember and apply to my own life.
    </p>
  </block>
</extends>

