---
title: Tea houses in Paris
preheader: Paris offers many tea houses, but not all tea houses are equal. Here are my favorite places.
id: tea_houses_paris
date: "2023-02-22"
---

<extends src="src/layouts/2022-10-25_new_short.html">
  <block name="text">
    In this short, I list three tea houses that I go to when I want to buy tea in Paris.
    The first listed is a real gem: they have no website and you might only hear about it by word of mouth, yet they have the most exceptional tea collection I have seen!
  </block>
</extends>

