---
title: "Confirm Enrollment"
preheader: 
---

<extends src="src/layouts/2022-10-25_basic.html">
  <block name="content">
    <tr>
      <td class="px-6">
        Hey there, I received a request to enroll this email address to my newsletter.
        Please confirm you subscription by clicking below.
      </td>
    </tr>
    <component
      src="/src/components/spacers/sm.html"
    ></component>
    <tr>
      <td align="center">
        <component
          src="/src/components/button.html"
          text="confirm subscription"
          href=""
        ></component>
      </td>
    </tr>
    <component
      src="/src/components/spacers/sm.html"
    ></component>
    <tr>
      <td class="px-6">
        If you don't want to subscribe to this newsletter, you can simply disregard this email.
      </td>
    </tr>
  </block>
</extends>

