<component
  src="/src/components/root.html"
>
  <tr>
    <td class="px-6 font-sans text-gray-400 lowercase small-caps">
      new post / {{ page.date }}
    </td>
  </tr>
  <component
    src="/src/components/spacers/xs.html"
  ></component>
  <tr>
    <td class="px-6">
      {{ page.abstract }}
    </td>
  </tr>
  <component
    src="/src/components/spacers/sm.html"
  ></component>
  <tr>
    <td class="px-6">
      <a href="https://zumbach.dev/posts/{{ page.id }}" class="font-sans font-bold lowercase small-caps no-underline text-gray-200 transition duration-300 hover:text-gray-100">
        read full post&nbsp&nbsp&nbsp→
      </a>
    </td>
  </tr>
  <component
    src="/src/components/blocks/unsubscribe.html"
  ></component>
</component>
